.add-recipe {
    width: 50vw;
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}
@media (max-width: 640px) {
    .add-recipe {
        width: 90vw;
        max-width: 1000px;
    }
}
.add-title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 24px;
}

.add-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.add-input,
.add-textarea,
.add-select {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.add-textarea {
    resize: vertical;
    min-height: 90px;
}

.add-file {
    font-size: 14px;
}

.add-btn {
    background-color: #f97316;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 999px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.add-btn:hover {
    opacity: 0.9;
}